{% extends 'base.html' %}

{% block content %}
<div class="container formback">
  <div class="loginform jumbotron">
    <h3>打卡猫咪</h3>
<!--    <div class="container">-->
<!--        <div class="col-md-4 col-md-offset-4">-->
          <form class='form-register' action="/checkcat/" method="post">
<!--      <form action="/checkcat/" method="post">-->
              {% if message %}
                  <div class="alert alert-success">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <div class="form-group">
                  <div class="text-left">打卡猫咪:</div>
                  {{ checkcat_form.cat }}
              </div>
              <div class="form-group">
                  <div class="text-left">打卡位置：</div>
                  {{ checkcat_form.addr }}
              </div>
              <div class="form-group">
                  <div class="text-left">打卡时间:</div>
                  {{ checkcat_form.time }}
              </div>

              <button type="submit" class="btn btn-primary pull-right">保存</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}